@tailwind base;
@tailwind components;
@tailwind utilities;

/*change the default font to josefin sans from the public folder*/

@font-face {
  font-family: 'Josefin Sans';
  src: url('../../public/font/static/JosefinSans-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Josefin Sans';
  src: url('../../public/font/static/JosefinSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@layer base {
  body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #0F1921;
    color: #fff;
  }
}
